.contentWrapper {
  padding: 0 24px;
  margin: 24px 0;
}

.sectionTitle {
  font-weight: 500;
  color: #425B76;
}

.memberCount {
  margin: 0 8px;
  font-size: 12px;
}

.membersContainer {
  display: flex;
  gap: 16px;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0 8px;
}

.customInput {
  border: none;
  outline: none;
}