.currentMemberContainer {
  background-color: #F2F6F9;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 148px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.userImage {
  border-radius: 50px;
  width: 32px;
}

.userName {
  font-size: 12px;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}